

/* 1 ROW */
.row1 {
	background-color: #404040;
	color: white;
	height: 50px
}

.row1 a {
	color: white;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 15px;
	display: inline;
}
.row .header{
	margin-top: 15px;
	
}

.input-group span
{
	background-color: #909090;
	border: 1px solid #909090;
	color: white;
}

.row1 span {
	color: white;
	text-decoration: none;
	margin-left: 5px;
	
	display: inline;
}

.row1 p {
	margin-top: 15px;
}

/* 2 ROW */
.row2 {
	background-color: white;
	color: #404040;
	margin-top: 20px;
	margin-bottom: 10px;
}

.row2 select {
	color: #404040;
	text-decoration: none;
	margin-left: 20px;
	display: inline;
	border: 1px solid white;
}

/* 3 ROW */
.row3 {
	background-image: url("../images/texture-bw.png");
	color: #404040;
	height: 70px;
}

.row3 a {
	color: #404040;
	display: inline;
	align: center;
}

.row3 .topmar
{
	margin-top: 17px;
}

/* 4 ROW */
.row4 input {
	width: 100%;
	display: inline;
	height: 30px;s
}
.row4 img {
	height: 50px;
	width: 50px;
}
.color{
	height:80px;
	background-color: #eee;
}
.tophei{
	margin-top: 25px;
	margin-left: 100px;
}

.tophei .btn{
	background-color: #606060;
	color: white;
}
.tophei .btn2{
	background-color: teal;
	color: white;
}

.tophei .btn span
{
	color: white;
}
.row .nav .active a{
	color: white;
	background-color: teal;
}
.row .nav .active span{
	color: white;
	background-color: teal;
}

.row4 button {
	margin: auto;
	display: block;
	background-color: white;
	border: 1px solid teal;
}
.wshimg img {
	height: 180px;
	width: 180px;
	display: inline;
}
.row4 .upbtn {
	background-color: white;
	border: none;
	color: black;
}

.wshimg1 img {
	height: 50px;
	width: 50px;
}


.x
{
	width:100%;
}
.row4 h5 {
	color: #606060
}

.row4 p {
	color: #606060
}

.row4 textarea {
	width: 100%
}

.row4 span {
	color: teal;
}

.box button{
	display: inline;
	
}

.hrrule {
	height: 2px;
	background-color: teal;
	width: 20%;
	float: left;
}
.hr1 {
	height: 2px;
	background-color: teal;
}
.h {
	background-color: 1px solid white;
}

.list-group {
	width: 50%;
}

/* 6 ROW */
.row6 {
	background-color: #505050;
	color: white;
	color: white
}

.col2 h6 {
	display: inline
}

.row6 img {
	height: 50px;
	width: 50px;
	margin-left: 10px;
}

/* 7 ROW */
.row7 {
	background-color: #404040;
	color: #909090;
}

.row7 p {
	margin-left: 55px;
	margin-top: 40px;
	margin-bottom: 40px;
}

h2 {
	font-weight: bold;
}

h6 {
	color: #909090
}
.greytext{
	color: #909090
}
.ml
{
	padding: 13px;
}

.mar-left
{
	margin-left: 7px;
	margin-right: 7px;
}

.prod
{
	border: 1px solid #ccc;
	
}
.ml
{
	padding: 15px;
}

.mar-left
{
	margin-left: 9px;
	margin-right: 9px;
}

.prod
{
	border: 1px solid #ccc;
	
}
.dark{
	background-color: black;
	color: white;
}
.prod img{
	height: 160px;
}